.comments-wrapper {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.comments {
  height: 55%;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  &--row {
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 100%;
    align-items: center;
  }
  &--card {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 2%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 24px;
    &--img {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 5%;
      height: 100%;
      width: 30%;
      img {
        border: 2px solid #00b086;
        border-radius: 40px;
      }
    }
    &--column {
      display: flex;
      flex-direction: column;
      &--name {
        width: 100%;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        text-transform: capitalize;
        color: #040404;
      }
      &--position {
        width: 100%;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
        color: #00b086;
      }
    }
    &--text {
      height: 70%;
      width: 80%;
      padding-top: 2%;
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      color: #212121;
      opacity: 0.75;
    }
  }
}

.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
}

.arrow:hover {
  opacity: 0.5;
}

.right {
  transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next {
  color: #2c2c2c !important;
}
.swiper-button-prev {
  color: #2c2c2c !important;
}
