.events {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  &--where {
    width: 80%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: #3ec1cd;
  }
  &--title {
    width: 80%;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 36px;
    text-transform: uppercase;
    color: #765ca6;
  }
  &--wrapper {
    width: 100%;
    display: flex;
    padding-top: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    &--desc {
      font-family: Source Sans Pro;
      word-spacing: 0.5px;
      font-size: 12px;
      line-height: 12px;
      color: $black;
      opacity: 0.5;
      width: 50%;
      display: flex;
    }
    &--every {
      width: 30%;
      display: flex;
      justify-content: flex-end;
      &--button {
        height: 30px;
        width: 100px;
        margin-right: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Montserrat;
        font-weight: 500;
        font-size: 12px;
        color: #765ca6;
        border: 1px solid #765ca6;
        transition: 0.3s;
        border-radius: 8px;
      }
      &--button:hover {
        background-color: #765ca6;
        color: $white;
      }
    }
  }
}
.all-cards {
  padding-top: 10px;
  height: 70%;
  width: 80%;
  display: grid;
  grid-template-columns: auto auto auto;
  &--card:hover {
    opacity: 0.9;
    transition: 0.2s;
    transform: translateY(-2px);
  }
  &--card {
    height: 95%;
    width: 95%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    border-radius: 8px;
    &--type {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 95px;
      height: 33px;
      border-radius: 8px;
      background-color: #765ca6;
      font-family: Montserrat;
      font-weight: 400;
      font-size: 12px;
      color: #ffffff;
    }
    &--title {
      width: 80%;
      padding-top: 4%;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      text-transform: uppercase;
      color: #ffffff;
    }
    &--date {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      color: #ffffff;
      opacity: 0.75;
    }
    &--wrapper {
      height: 50%;
      width: 100%;
      margin-left: 8%;
    }
  }
}

.green {
  background-color: #00b086;
}

@include respond-above(xs) {
  .events {
    height: unset;
    &--where {
      width: 90%;
    }
    &--title {
      width: 90%;
      font-size: 24px;
    }
    &--wrapper {
      width: 90%;
      &--desc {
        width: 100%;
        line-height: 12px;
      }
      &--every {
        width: 0;
        &--button {
          font-size: 12px;
          visibility: hidden;
        }
      }
    }
  }
  .all-cards {
    padding-top: 10px;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 28px;
    &--card {
      margin-bottom: 10px;
      padding-top: 100px;
      &--type {
        font-weight: 400;
        font-size: 12px;
      }
      &--title {
        padding-top: 2%;
        padding-bottom: 2%;
        font-size: 16px;
      }
      &--date {
        font-weight: 400;
        font-size: 12px;
      }
      &--wrapper {
        margin-bottom: 12px;
        width: 100%;
        margin-left: 28px;
      }
    }
  }
}
