.events {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  &--title {
    width: 80%;
    margin-top: 5%;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 36px;
    text-transform: uppercase;
    color: #765ca6;
  }
  &--wrapper {
    height: 5%;
    width: 100%;
    display: flex;
    padding-top: 10px;
    flex-direction: row;
    justify-content: center;
    &--desc {
      font-family: Source Sans Pro;
      word-spacing: 0.5px;
      font-size: 12px;
      line-height: 12px;
      color: $black;
      opacity: 0.5;
      width: 50%;
      display: flex;
    }
    &--every {
      width: 30%;
      display: flex;
      justify-content: flex-end;
      &--button {
        height: 30px;
        width: 100px;
        margin-right: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Montserrat;
        font-weight: 500;
        font-size: 12px;
        color: #765ca6;
        border: 1px solid #765ca6;
        transition: 0.3s;
        border-radius: 8px;
      }
      &--button:hover {
        background-color: #765ca6;
        color: $white;
      }
    }
  }
}
.all-cards {
  padding-top: 10px;
  height: 70%;
  width: 80%;
  display: grid;
  grid-template-columns: auto auto auto;
  &--card:hover {
    opacity: 0.9;
    transition: 0.2s;
    transform: translateY(-2px);
  }
  &--card {
    height: 95%;
    width: 95%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    border-radius: 8px;
    &--type {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 95px;
      height: 33px;
      border-radius: 12px;
      background-color: #765ca6;
      font-family: Montserrat;
      font-weight: 400;
      font-size: 12px;
      color: #ffffff;
    }
    &--title {
      width: 80%;
      height: 30%;
      padding-top: 4%;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      text-transform: uppercase;
      color: #ffffff;
    }
    &--date {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      color: #ffffff;
      opacity: 0.75;
    }
    &--wrapper {
      height: 50%;
      width: 100%;
      margin-left: 8%;
    }
  }
}
