.first-page {
  background-image: url("/assets/usaambassador.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  &--text-container {
    margin-left: 6%;
    display: flex;
    flex-direction: column;
    width: 30%;
  }
  &--text {
    font-family: Montserrat;
    font-size: 32px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: 600;
    color: $white;
    margin-bottom: 5%;
  }
  &--text1 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 200;
    word-spacing: 1px;
    line-height: 18px;
    letter-spacing: 0.5px;
    font-size: 13px;
    color: white;
  }
  &--more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-size: 20px;
    height: 48px;
    width: 224px;
    background-color: rgba(255, 255, 255, 0.25);
    color: $white;
    border-radius: 12px;
  }
  &--more:hover {
    transform: translateY(-2px);
    transition: 0.3s;
    opacity: 0.75;
  }
  &--more::after {
    margin-left: 5%;
    content: url("/assets/arrow.png");
  }
  &--layers {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    &--white {
      content: "";
      clip-path: polygon(100% 0, 0% 100%, 100% 100%);
      background-color: white;
      height: 152px;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
    }
    &--gray {
      clip-path: polygon(100% 100%, 0 35%, 0 100%);
      background-color: white;
      height: 152px;
      width: 100%;
      opacity: 0.5;
      position: absolute;
      bottom: -10px;
      left: 0;
      z-index: 1;
    }
    &--gray-layer {
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
      background-color: white;
      height: 182px;
      width: 100%;
      opacity: 0.5;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
    }
  }
}

.layer {
  display: flex;
  align-items: center;
  background-color: rgba(118, 92, 166, 0.45);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

@include respond-above(xs) {
  .first-page {
    background-position: center;
    position: relative;
    height: 100vh;
    &--text-container {
      display: flex;
      flex-direction: column;
      width: 80%;
    }
    &--text {
      font-family: Montserrat;
      font-size: 28px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      font-weight: 800;
      color: $white;
      margin-bottom: 5%;
    }
    &--text1 {
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 300;
      word-spacing: 1px;
      line-height: 18px;
      letter-spacing: 0.5px;
      font-size: 14px;
      color: white;
    }
    &--more {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 28px;
      font-size: 16px;
      height: 48px;
      width: 184px;
      border: 1px solid $white;
      background-color: unset;
      color: $white;
      border-radius: 12px;
    }
    &--more:hover {
      transform: translateY(-2px);
      transition: 0.3s;
      opacity: 0.75;
    }
    &--more::after {
      margin-left: 5%;
      content: url("/assets/arrow.png");
    }
    &--layers {
      &--white {
        bottom: -1px;
      }
      &--gray {
        bottom: 0;
      }
      &--gray-layer {
        bottom: 0;
      }
    }
  }
  .layer {
  }
}
