.header {
  width: 100vw;
  height: 13%;
  display: flex;
  background-color: rgba(255, 255, 255, 1);
  position: fixed;
  top: 0px;
  z-index: 1000;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  &--texts {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.5px;
    line-height: 20px;
    color: #131313;
  }
  &--nav {
    display: flex;
    align-items: center;
    width: 100%;
    &--logo {
      width: 15%;
      display: flex;
      justify-content: flex-end;
      &--img {
        height: 3.5rem;
      }
    }
    &--logo1 {
      width: 15%;
      display: none;
      justify-content: flex-end;
      &--img {
        height: 3.5rem;
      }
    }
    &--buttons {
      justify-content: center;
      padding-left: 1%;
      padding-right: 5%;
      width: 65%;
      display: flex;
      align-items: center;
    }
    &--sign-up {
      width: 20%;
      display: flex;
      &--button {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.5px;
        display: inline;
        padding: 8px 24px 8px 24px;
        color: $white;
        background-color: #3ec1cd;
        border-radius: 8px;
      }
      &--button:hover {
        opacity: 0.75;
        transition: 0.3s;
        transform: translateY(-2px);
      }
    }
  }
}

ul {
  list-style: none;
  display: flex;
}

#buttons {
  color: #131313;
  position: relative;
  display: block;
  margin: 0 21px;
}

#buttons:hover {
  color: #765ca6;
}

#buttons:focus,
#buttons:active {
  color: #765ca6;
}

#buttons::before {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  height: 1px;
  width: 100%;
  background-color: #765ca6;
  transform-origin: center top;
  transform: scale(0, 1);
  transition: color 0.1s, transform 0.2s ease-out;
}

#buttons:active::before {
  background-color: #765ca6;
}

#buttons:hover::before,
#buttons:focus::before {
  color: #765ca6;
  transform-origin: center top;
  transform: scale(1, 1);
}

@include respond-above(xs) {
  .header {
    background-color: unset;
    &--nav {
      &--buttons {
        position: absolute;
        background-color: $white;
        top: 0;
        right: -230px;
        width: 180px;
        height: 100vh;
      }
      &--logo {
        display: none;
        width: unset;
        &--img {
          margin-left: 24px;
        }
      }
      &--logo1 {
        display: flex;
        width: unset;
        &--img {
          margin-left: 24px;
        }
      }
      &--sign-up {
        &--button {
          display: none;
        }
      }
    }
  }
  ul {
    display: flex;
    flex-direction: column;
    // display: none;
  }
  li {
    // display: none;
  }
  #buttons {
  }
}
