.news-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $white;
  padding-top: 90px;
  &--wallpaper {
    img {
      height: 520px;
      width: 100%;
    }
  }
  &--wrapper {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    &--title {
      width: 90%;
      padding-bottom: 14px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 800;
      font-size: 34px;
      line-height: 59px;
      text-transform: uppercase;
      color: #00b086;
    }
    &--date {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      text-align: right;
      text-transform: uppercase;
      color: #f9cd0c;
    }
    &--text {
      width: 90%;
      padding-top: 14px;
      font-family: Open Sans;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      color: $white;
    }
  }
}

.cards-container {
  width: 80%;
}
