.payment {
  // height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  &--class {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: #3ec1cd;
  }
  &--title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 38px;
    line-height: 59px;
    text-align: center;
    text-transform: uppercase;
    color: #765ca6;
  }
  &--desc {
    width: 40%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    opacity: 0.5;
    padding-bottom: 20px;
  }
  &--box {
    display: flex;
    width: 80%;
    justify-content: center;
    flex-direction: row;
    &--middle {
      width: 45%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 10px;
      background-image: url("/assets/back-middle.png");
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 24px;
    }
    &--high {
      width: 45%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-image: url("/assets/back-high.png");
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 24px;
    }
  }
  &--button-high {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.5px;
    display: inline;
    margin-top: 5%;
    margin-bottom: 10%;
    padding: 8px 24px 8px 24px;
    color: $white;
    background-color: #3ec1cd;
    border-radius: 8px;
  }
  &--button-high:hover {
    opacity: 0.75;
    transition: 0.3s;
    transform: translateY(-2px);
  }
  &--button-middle {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.5px;
    display: inline;
    margin-top: 5%;
    margin-bottom: 10%;
    padding: 8px 24px 8px 24px;
    color: $white;
    background-color: #00b086;
    border-radius: 8px;
  }
  &--button-middle:hover {
    opacity: 0.75;
    transition: 0.3s;
    transform: translateY(-2px);
  }
}

.plain-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 1rem;
  text-transform: capitalize;
  color: #ffffff;
  opacity: 0.75;
}

.amount-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-transform: capitalize;
  padding-bottom: 5%;
  color: #ffffff;
}
.amount {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 68px;
  text-transform: uppercase;
  color: #f9cd0c;
}
.which-year {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 5%;
}

@include respond-above(xs) {
  .payment {
    justify-content: center;
    &--img {
      margin-top: 60px;
    }
    &--class {
      font-weight: 400;
      font-size: 12px;
      line-height: 24px;
    }
    &--title {
      width: 80%;
      font-size: 16px;
      line-height: 32px;
    }
    &--desc {
      width: 80%;
      font-size: 12px;
      line-height: 12px;
      padding-bottom: 5%;
    }
    &--box {
      height: 100%;
      flex-direction: column;
      &--middle {
        height: 100%;
        width: 100%;
        margin-right: 0;
      }
      &--high {
        height: 100%;
        width: 100%;
        margin-top: 5%;
      }
    }
    &--button-high {
      margin-bottom: 60px;
      font-size: 14px;
      line-height: 20px;
      font-weight: 600;
      letter-spacing: 0.5px;
      padding: 14px 24px 14px 24px;
    }
    &--button-high:hover {
      opacity: 0.75;
      transition: 0.3s;
      transform: translateY(-2px);
    }
    &--button-middle {
      margin-bottom: 60px;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      padding: 14px 24px 14px 24px;
    }
    &--button-middle:hover {
      opacity: 0.75;
      transition: 0.3s;
      transform: translateY(-2px);
    }
  }

  .plain-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    padding-bottom: 1rem;
  }

  .amount-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
  }
  .amount {
    font-weight: 600;
    font-size: 32px;
    line-height: 36px;
  }
  .which-year {
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
  }
}
